

		<div class = "container" id="specialinterest">

			<section class="content row">
				<div class="col-lg-12">
					<header class="clearfix">
						<section id="branding" class="brand">
							<a href="index.html"><img src="assets/romania-branding.png" alt="Logo for Romania" style="max-width:100%"></a>
						</section>
						<%= render "components/header" %>

					</header> <!--clearfix-->
				</div><!--column-->
			</section><!--content row-->
<section class="container">
<div class="content row ">
	<section class="col-lg-12 main_container">

							<h2>Special Interest</h2>
							<p>This website is intended to assist travelers who are planning to visit Romania or would like
to learn more about Romania.
Authentic, Natural and Cultural are the words that best capture the essence of Romania,
a dynamic country rich in history, arts and scenic beauty.
Romania offers countless unique travel experiences that are waiting to be discovered.
</p>
	<div class="content row my_content">
	<div class="col-lg-6 img_text left">
	<div class="fluid">
				<div class="top">
					<img src="">
				</div>
				<img class="center_img" src="assets/Painted_Eggs_tn.jpg" alt="Traditions & Folklore" />
				<section class="inner">
					
					<%= link_to 'Tradition & Folklore', traditions_folklore_path, :remote => true, :class => "img_title"%>
							<p>The countryside is the heart and soul of Romania, where peasant culture remains a strong force and medieval life prevails, as it does nowhere else in Europe.</p>
				</section>
				<div class="clear foot">
					<img src="">
				</div>
			</div>
</div>

<div class="col-lg-6 img_text">
	<div class="fluid">
				<div class="top">
					<img src="">
				</div>
				<img class="center_img" src="assets/Sighisoara_Medieval_Festival_tn.jpg" alt="Festivals & Events" />
				<section class="inner">
					<%= link_to 'Festivals & Events', festivals_events_path, :remote => true, :class => "img_title" %>
							<p>Throughout the year, Romanians celebrate their ancient heritage, changing seasons, religious holidays and life-cycle events, such as birth, marriage and death,
with festivals that have remained unchanged for centuries</p>
				</section>
				<div class="clear foot">
					<img src="">
				</div>
			</div>
</div>
</div>
<div class="content row my_content">

<div class="col-lg-6 img_text left">
	<div class="fluid">
				<div class="top">
					<img src="">
				</div>
				<img class="center_img" src="assets/Wine_tn.jpg" alt="Food & Wine" />
				<section class="inner">
					<%= link_to 'Food & Wine', food_wine_path, :remote => true, :class => "img_title" %>
							<p>The central characteristic of the Romanian cuisine is its
great variety. It is a cuisine influenced by repeated waves of different cultures</p>
				</section>
				<div class="clear foot">
					<img src="">
				</div>
			</div>
</div>

<div class="col-lg-6 img_text">
	<div class="fluid">
				<div class="top">
					<img src="">
				</div>
				<img class="center_img" src="assets/Mogosoaia_Palace_tn.jpg" alt="Architecture" />
				<section class="inner">
					<%= link_to 'Architecture', architecture_path, :remote => true, :class => "img_title" %>
							<p>Monasteries, churches, synagogues, castles and palaces throughout the country, some dating from the 12th Century, depict the country's tumultuous history</p>
				</section>
				<div class="clear foot">
					<img src="">
				</div>
			</div>
</div>

</div>



	</section>

</div>

</section>




		<%= render "components/footer"  %>

		</div><!--container-->

