

					<div class = "navbar navbar-default navbar-static-top">
							<div class = "container">

											<button class = "navbar-toggle" data-toggle = "collapse" data-target = ".navHeaderCollapse" >
													<span class = "icon-bar"></span>
													<span class = "icon-bar"></span>
													<span class = "icon-bar"></span>
											</button>

											<div class = "collapse navbar-collapse navHeaderCollapse">

														<ul class = "nav navbar-nav ">

														<li class = "dropdown" >

																	<a  href="<%= root_path %>">Home</a>


															</li>

															<li id = "about" class = "dropdown"  >

																	<a href="<%= about_romania_path  %>" class = "dropdown-toggle" >About Romania</a>

																	<ul id="about_drop" class = "dropdown-menu" style="visibility: hidden">
																		<li><a href= "#">Location</a></li>
																		<li><a href= "#">History</a></li>
																		<li><a href= "#">Culture</a></li>
																		<li><a href= "#">People</a></li>
																	</ul>

															</li>

															<li  class = "dropdown">

																	<a href="<%= what_to_do_path %>" class = "dropdown-toggle" >What to do</a>
																	<ul class = "dropdown-menu">
																		<li><a href= "#">Adventure & Activities </a></li>
																		<li><a href= "#">Birdwatching</a></li>

																	</ul>

															</li>

															<li id = "destination" class = "dropdown">

																	<a href="<%= destinations_path %>" class = "dropdown-toggle" >Destinations</a>
																	<ul  id ="destinations_drop" class = "dropdown-menu" style="visibility:hidden">
																		<li><%= link_to 'Top Destination',  top_path, :remote => true %></li>
																		<li><%= link_to 'Cities & Towns',  cities_path, :remote => true %></li>
																		<li><%= link_to 'Regions',  regions_path, :remote => true %></li>
																		<li><%= link_to 'Castles & Fortresses',  castles_path, :remote => true%></li>
																	</ul>

															</li>

														<!-- 	<li class = "dropdown">

																	<a href="<%= multimedia_path %>" class = "dropdown-toggle" >Multimedia</a>
																	<ul class = "dropdown-menu">
																		<li><a href= "#">Images</a></li>
																		<li><a href= "#">Videos</a></li>
																		<li><a href= "#">Download Images</a></li>
																	</ul>

															</li> -->

															<li id = "interest" class = "dropdown">

																	<a href="<%= special_interest_path %>" class = "dropdown-toggle" >Special Interest</a>
																	<ul id="interest_drop" class = "dropdown-menu" style="visibility:hidden">
																		<li><%= link_to 'Tradition & Folklore', traditions_folklore_path, :remote => true %></li>
																		<li><%= link_to 'Festivals & Events', festivals_events_path, :remote => true %></li>
																		<li><%= link_to 'Food & Wine', food_wine_path, :remote => true %></li>
																		<li><%= link_to 'Architecture', architecture_path, :remote => true %></li>
																		<li><%= link_to 'Count Dracula Legend', count_dracula_path, :remote => true %></li>
																		<li><%= link_to 'Shopping', shopping_path, :remote => true %></li>
																	</ul>

															</li>

															<li id = "trip" class = "dropdown">

																	<a href="<%= trip_planner_path %>" class = "dropdown-toggle" >Trip Planner</a>
																	<ul id="trip_drop" class = "dropdown-menu" style="visibility:hidden">
																		<li><%= link_to 'Getting here and around', getting_here_path, :remote => true %></li>
																		<li><%= link_to 'Transportation', transportation_path, :remote => true %></li>
																		<li><%= link_to 'Itinerary Ideas', itinerary_ideas_path, :remote => true %></li>
																		<li><%= link_to 'Practical Information', practical_information_path, :remote => true %></li>
																		<li><%= link_to 'Distinctive Accommodations', accommodations_path, :remote => true %></li>
																		<li><%= link_to 'Entry Requirements', entry_requirements_path, :remote => true %></li>

																	</ul>

															</li>

															<li class = "dropdown">
																	<%=  %>
																  <% if current_user %>
																  	<a  class = "dropdown-toggle" >Signed in as <strong><%= current_user.name %></strong>!</a>
																 		<ul class = "dropdown-menu">
																			<li><%= link_to "Sign out", signout_path, id: "sign_out" %></li>
																    </ul>
																    
																  <% else %>
																    <%= link_to "Sign in with Facebook", "/auth/facebook", id: "sign_in" %>
																  <% end %>

																


															</li>

														</ul>


											</div>  <!--collapse navbar-collapse navHeaderCollapse	-->
									</div>  <!--container-->
						</div>  <!--navbar navbar-inverse navbar-static-top -->
						