

					<div class = "navbar navbar-default navbar-static-top">
							<div class = "container">

											<button class = "navbar-toggle" data-toggle = "collapse" data-target = ".navHeaderCollapse" >
													<span class = "icon-bar"></span>
													<span class = "icon-bar"></span>
													<span class = "icon-bar"></span>
											</button>

											<div class = "collapse navbar-collapse navHeaderCollapse">

														<ul class = "nav navbar-nav ">

														<li class = "dropdown">

																	<a href="<%= root_path %>">Home</a>


															</li>

															<li class = "dropdown">

																	<a href="<%= about_romania_path  %>" class = "dropdown-toggle" >About Romania</a>
																	<ul class = "dropdown-menu">
																		<li><a href= "#">Location</a></li>
																		<li><a href= "#">History</a></li>
																		<li><a href= "#">Culture</a></li>
																		<li><a href= "#">People</a></li>
																	</ul>

															</li>

															<li class = "dropdown">

																	<a href="<%= what_to_do_path %>" class = "dropdown-toggle" >What to do</a>
																	<ul class = "dropdown-menu">
																		<li><a href= "#">Adventure & Activities </a></li>
																		<li><a href= "#">Birdwatching</a></li>

																	</ul>

															</li>

															<li class = "dropdown">

																	<a href="<%= destinations_path %>" class = "dropdown-toggle" >Destinations</a>
																	<ul class = "dropdown-menu">
																		<li><%= link_to 'Top Destinations',  hello_path, :remote => true %></li>
																		<li><a href= "#">Cities & Towns</a></li>
																		<li><a href= "#">Regions</a></li>
																		<li><a href= "#">Castles & Fortresses</a></li>
																	</ul>

															</li>

															<li class = "dropdown">

																	<a href="<%= multimedia_path %>" class = "dropdown-toggle" >Multimedia</a>
																	<ul class = "dropdown-menu">
																		<li><a href= "#">Images</a></li>
																		<li><a href= "#">Videos</a></li>
																		<li><a href= "#">Download Images</a></li>
																	</ul>

															</li>

															<li class = "dropdown">

																	<a href="<%= special_interest_path %>" class = "dropdown-toggle" >Special Interest</a>
																	<ul class = "dropdown-menu">
																		<li><a href= "#">Tradition & Folklore</a></li>
																		<li><a href= "#">Festivals & Events</a></li>
																		<li><a href= "#">Food & Wine</a></li>
																		<li><a href= "#">Architecture</a></li>
																		<li><a href= "#">Count Dracula Legend</a></li>
																		<li><a href= "#">Shopping</a></li>
																	</ul>

															</li>

															<li class = "dropdown">

																	<a href="<%= trip_planner_path %>" class = "dropdown-toggle" >Trip Planner</a>
																	<ul class = "dropdown-menu">
																		<li><a href= "#">Getting here and around</a></li>
																		<li><a href= "#">Transportation</a></li>
																		<li><a href= "#">Itinerary Ideas</a></li>
																		<li><a href= "#">Practical Information</a></li>
																		<li><a href= "#">Distinctive Accommodations</a></li>
																		<li><a href= "#">Entry Requirements</a></li>

																	</ul>

															</li>

															<li class = "dropdown">

																  <% if current_user %>
																  	<a  class = "dropdown-toggle" >Signed in as <strong><%= current_user.name %></strong>!</a>
																 		<ul class = "dropdown-menu">
																			<li><%= link_to "Sign out", signout_path, id: "sign_out" %></li>
																    </ul>
																    
																  <% else %>
																    <%= link_to "Sign in with Facebook", "/auth/facebook", id: "sign_in" %>
																  <% end %>

																


															</li>

														</ul>


											</div>  <!--collapse navbar-collapse navHeaderCollapse	-->
									</div>  <!--container-->
						</div>  <!--navbar navbar-inverse navbar-static-top -->