				<h2>Upcoming Events</h2>
					<!-- Nav tabs -->
						<ul class="nav nav-tabs">
							<li><a href="#mon" data-toggle="tab">Mon</a></li>
							<li><a href="#tue" data-toggle="tab">Tue</a></li>
							<li><a href="#wed" data-toggle="tab">Wed</a></li>
							<li><a href="#thu" data-toggle="tab">Thu</a></li>
							<li><a href="#fri" data-toggle="tab">Fri</a></li>
							<li><a href="#sat" data-toggle="tab">Sat</a></li>
							<li><a href="#sun" data-toggle="tab">Sun</a></li>
						</ul><!--nav nav-tabs-->

						<!-- Tab panes -->
						<div class="tab-content" id="event_home">
							<div class="tab-pane active" id="mon">
								<% if !@monday.empty? %>
									<% @monday.each_slice(3) do |name, description, date|%>
										<ul id="event_list">
											<li id="event_name"> <%= name[1] %></li>
											<li id="event_description"><%= description[1] %></li>
											<li id="event_date">Date: <%= date[1].strftime("%d %b %Y")%></li>
										</ul>
									<% end %>
								<% end %>
							</div>
							<div class="tab-pane" id="tue" >
								<% if !@tuesday.empty? %>
									<% @tuesday.each_slice(3) do |name, description, date|%>
										<ul id="event_list"> 
											<li id="event_name"> <%= name[1] %></li>
											<li id="event_description"><%= description[1] %></li>
											<li id="event_date">Date: <%= date[1].strftime("%d %b %Y") %></li>
										</ul>
									<% end %>
								<% end %>
							</div>
							<div class="tab-pane" id="wed">
								<% if !@wednesday.empty? %>
									<% @wednesday.each_slice(3) do |name, description, date|%>
										<ul id="event_list">
											<li id="event_name"> <%= name[1] %></li>
											<li id="event_description"><%= description[1] %></li>
											<li id="event_date">Date: <%= date[1].strftime("%d %b %Y") %></li>
										</ul>
									<% end %>
								<% end %>
							</div>
							<div class="tab-pane" id="thu">
								<% if !@thursday.empty? %>
									<% @thursday.each_slice(3) do |name, description, date|%>
										<ul id="event_list">
											<li id="event_name"> <%= name[1] %></li>
											<li id="event_description"><%= description[1] %></li>
											<li id="event_date">Date: <%= date[1].strftime("%d %b %Y") %></li>
										</ul>
									<% end %>
								<% end %>
							</div>
							<div class="tab-pane" id="fri">
								<% if !@friday.empty? %>
									<% @friday.each_slice(3) do |name, description, date|%>
										<ul id="event_list">
											<li id="event_name"> <%= name[1] %></li>
											<li id="event_description"><%= description[1] %></li>
											<li id="event_date">Date: <%= date[1].strftime("%d %b %Y") %></li>
										</ul>
									<% end %>
								<% end %>
							</div>
							<div class="tab-pane" id="sat">
								<% if !@saturday.empty? %>
									<% @saturday.each_slice(3) do |name, description, date|%>
										<ul id="event_list">
											<li id="event_name"> <%= name[1] %></li>
											<li id="event_description"><%= description[1] %></li>
											<li id="event_date">Date: <%= date[1].strftime("%d %b %Y") %></li>
										</ul>
									<% end %>
								<% end %>
							</div>
							<div class="tab-pane" id="sun">
								<% if !@sunday.empty? %>
									<% @sunday.each_slice(3) do |name, description, date|%>
										<ul id="event_list">
											<li id="event_name"> <%= name[1] %></li>
											<li id="event_description"><%= description[1] %></li>
											<li id="event_date">Date: <%= date[1].strftime("%d %b %Y") %></li>
										</ul>
									<% end %>
								<% end %>
							</div>
						</div><!--tab-content-->