 <% if @pony.errors.any? %>
				    <div id="error_explanation">
				      <h2><%= pluralize(@pony.errors.count, "error") %> prohibited this pony from being saved:</h2>

				      <ul>
				      <% @pony.errors.full_messages.each do |msg| %>
				        <li><%= msg %></li>
				      <% end %>
				      </ul>
				    </div>
				  <% end %>




				  	<% if current_user %>
				
				<%= form_for(@table) do |f| %>
				 	<%= f.hidden_field :user_id, current_user.id  %>
				  <div class="field">
				    <%= f.label :com_text %><br>
				    <%= f.text_field :com_text %>
				  </div>
				  
				  <div class="actions">
				    <%= f.submit %>
				  </div>
				<% end %>
			<% end %>



			<div class="col-lg-6 img_text">
								<div class="fluid">
											<div class="top">
												<img src="">
											</div>
											<img class="center_img" src="assets/Bigar_Cascade_tn.jpg" alt="Regions" />
											<section class="inner">
												<%= link_to 'Regions',  regions_path, :remote => true, :class => "img_title"  %>
														<p>This website is intended to assist travelers who are planning to visit Romania or would like
							to learn more about Romania.Black Sea; from Southern Transylvania to Bucovina or Maramures. Take a step back in time
							as you visit one of the world's famous painted monasteries in Bucovina, the ancient, hilltop citadel in Sighisoara or an authentic, centuries-old, folkloric village in Maramures.</p>
											</section>
											<div class="clear foot">
												<img src="">
											</div>
										</div>
							</div>




			<%= form_for(@comment) do |f| %>
				 	<%= f.hidden_field :user_id, current_user.id  %>
				 	<%= f.hidden_field :location_id, @location  %>
				  <div class="field">
				    <%= f.label :com_text %><br>
				    <%= f.text_field :com_text %>
				  </div>
				  
				  <div class="actions">
				    <%= f.submit %>
				  </div>
				<% end %>






					<% @delta.each_slice(2) do |d| %>
					
		<% if d[0] != "note" %>
			<div class="name_comm">
				<p class="name_comm_p">
					Name: <%= d[0] %>
				</p>
			</div>
			

			<div class="text_comm">
				<p class="text_comm_p">
					Comment: <%= d[1] %>
				</p>
			</div>
		<% else %>
			<br />
			Note: <%= d[1]  %>
		<% end %>
	<% end %>





<code>
<% form_id = “movie_#{movie.id}_rating” %>
<%= form_for movie.ratings.last || movie.ratings.build, :html => {:id => form_id , :class => “star_rating_form”} do |f| %>
<%= f.hidden_field :movie_id %>
<%= f.hidden_field :stars, :id => form_id + “_stars” %>
<% end %>
<% (1..5).each do |i| %>
<li id=”<%= form_id %>_<%= i %>” data-stars=”<%= i %>” data-form-id=”<%= form_id %>”></li>
<% end %>
</code>

<code>
var set_stars = function(form_id, stars) {
for(i=1; i <= 5; i++){
if(i <= stars){
$(‘#’ + form_id + ‘_’ + i).addClass(“on”);
} else {
$(‘#’ + form_id + ‘_’ + i).removeClass(“on”);
}
}
}

$(function() {
$(‘.rating_star’).click(function() {
var star = $(this);
var form_id = star.attr(“data-form-id”);
var stars = star.attr(“data-stars”);

$(‘#’ + form_id + ‘_stars’).val(stars);

$.ajax({
type: “post”,
url: $(‘#’ + form_id).attr(‘action’),
data: $(‘#’ + form_id).serialize()
})
});

$(‘.star_rating_form’).each(function() {
var form_id = $(this).attr(‘id’);
set_stars(form_id, $(‘#’ + form_id + ‘_stars’).val());
});
});
</code>













    $("ul.nav li.dropdown").hover(
        function(){
            $(".dropdown-menu",this).fadeIn(0)
            },
        function(){
            $(".dropdown-menu",this).fadeOut(0)
        })
    ,