<h2> Cities & Towns</h2>

		<section class="topdestinations">
			<div id="destinationindex" class="row">
				<section class="scrollspy clearfix col col-lg-3 hidden-sm">

				<ul class="nav nav-list affix">
						<li><a href="#Bucuresti">Bucuresti</a></li>
						<li><a href="#Brasov">Brasov</a></li>
						<li><a href="#Cluj">Cluj</a></li>
						<li><a href="#Constanta">Constanta</a></li>
						<li><a href="#Iasi">Iasi</a></li>
						<li><a href="#Timisoara">Timisoara</a></li>
					</ul><!-- nav-list -->
				</section><!-- scrollspy -->
				<section class="destinationinfo col col-lg-9">
					<%= render "snippet_cities_bucuresti"  %>
					<%= render "snippet_cities_brasov"  %>
					<%= render "snippet_cities_cluj"  %>
					<%= render "snippet_cities_constanta"  %>
					<%= render "snippet_cities_iasi"  %>
					<%= render "snippet_cities_timisoara"  %>

				</section><!-- destinationinfo -->
				<section id="modal" class="modal fade" >
					<div class="modal-body">
						<img id="modalimage" src="" alt="Modal Photo" >
						<p> abcddfsafdasbjvadbljerwav ewa efwakl aerwaewl vaeraew!!! </p>
					</div><!--modal-body-->
				</section><!--modal fade-->
			</div><!-- destinationindex -->
		</section><!-- topdestinations -->
		
		<script src="assets/myscrypt.js" type="text/javascript"></script>
	
