

				<%= form_for @comment,  :remote => true do |f| %>
					    <% @comment.errors.full_messages.each do |msg| %>
      					<p><%= msg %></p>
   						 <% end %>
				 	<%= f.hidden_field :user_id, :value => current_user.id  %>
				 	<%= f.hidden_field :location_id, :value => @loc  %>

				 	<section class = "content row">
				 		<div class="col-lg-7">
				 			<div class="field">

				    	<%= f.text_field :com_text , class: "form-control", placeholder: "Enter comment"  %>

				  		</div>
				 		</div>
				 		<div class="col-lg-5">
				 			<div class="actions">
				   			<button  class="btn btn-primary " name="commit" type="submit" value="Create Comment">Create Comment</button>
				  		</div>
				 		</div>
				 	</section>
				  
				  
				  
				<% end %>
