<h2> Regions </h2>

		<section class="topdestinations">
			<div id="destinationindex" class="row">
				<section class="scrollspy clearfix col col-lg-3 hidden-sm">

					<ul class="nav nav-list affix">
						<li><a href="#Banat_si_Crisana">Banat si Crisana</a></li>
						<li><a href="#Bucovina_si_Moldova">Bucovina si Moldova</a></li>
						<li><a href="#Dobrogea">Dobrogea</a></li>
						<li><a href="#Maramures">Maramures</a></li>
						<li><a href="#Transilvania">Transilvania</a></li>
						<li><a href="#Valahia">Valahia</a></li>
					</ul><!-- nav-list -->
				</section><!-- scrollspy -->
				<section class="destinationinfo col col-lg-9">
					<%= render "snippet_regions_banat_crisana"  %>
					<%= render "snippet_regions_bucovina_moldova"  %>
					<%= render "snippet_regions_dobrogea"  %>
					<%= render "snippet_regions_maramures"  %>
					<%= render "snippet_regions_transilvania"  %>
					<%= render "snippet_regions_valahia"  %>

				</section><!-- destinationinfo -->
			</div><!-- destinationindex -->
		</section><!-- topdestinations -->
		
		<script src="assets/myscrypt.js" type="text/javascript"></script>