<article id="Cetatea_Fagaras" class="media">
	<h2>Cetatea Fagaras</h2>
	<img src="" alt="">
	<div class="media-body">
		<p>Cetatea Fagarasului este cel mai important monument al Fagarasului, unul dintre cele mai mari din tara si chiar din Europa. Cetatea regală, înzestrată cu cel mai mare domeniu feudal din voievodat a fost construită la sfârşitul secolului al XlV-lea.</p>
		<p>Astazi gazduieste Muzeul Tarii Fagarasului cu sectiile de istorie a orasului si a Tarii Fagarasului, de altfel si Biblioteca Municipala.</p>
		<section class="modalphotos photogrid">
			<h3>Photos</h3>
			<img src="assets/Castles & Fortress/cetatea fagaras/Cetatea_Fagaras_1_tn.jpg" alt="">
			<img src="assets/Castles & Fortress/cetatea fagaras/Cetatea_Fagaras_2_tn.jpg" alt="">
			<img src="assets/Castles & Fortress/cetatea fagaras/Cetatea_Fagaras_3_tn.jpg" alt="">



		</section>

	<% $loc = $fagaras_loc  %>
		<% if $location.empty? %>
			<% @loc_hash = @fagaras %>
			
		<% else %>
			<% @loc_hash = $location %>
		<% end %>
		<% $clas = "comment_"+$loc.to_s %>
		<section class=<%= $clas %>>
				
			<%= render 'comment'  %>
			<% if current_user %>
			<%= link_to "Comment", comments_path(:clas => $clas,:loc => $loc), :remote => true %>
			<% end %>
		</section>
	<%= yield :scripts %>
		<p>Averate rating</p>
		<div id="cucu" nota=<%=@loc_hash.last%> ></div>
	</div><!-- media-body -->
</article>