
		<h2> Top Destinations</h2>

		
		 <div id="mapp" style='width: 500px; height: 400px;'></div>
	
		
		<section class="topdestinations">
			<div id="destinationindex" class="row">
				<section class="scrollspy clearfix col col-lg-3 hidden-sm">

					<ul class="nav nav-list affix">
						<li><a href="#Painted_Monastery">Painted Monastery</a></li>
						<li><a href="#Danube_Delta">Danube Delta</a></li>
						<li><a href="#Black_Sea">Black Sea</a></li>
						<li><a href="#Bran_Castle">Bran Castle</a></li>
						<li><a href="#Peles_Castle">Peles Castle</a></li>
						<li><a href="#Palace_of_the_Parliament">Palace of the Parliament</a></li>
					</ul><!-- nav-list -->
				</section><!-- scrollspy -->
				<section class="destinationinfo col col-lg-9">
					<%= render "snippet_destination_monastery"  %>
					<%= render "snippet_destination_delta"  %>
					<%= render "snippet_destination_sea"  %>
					<%= render "snippet_destination_parliament"  %>
					<%= render "snippet_destination_bran"  %>
					<%= render "snippet_destination_peles"  %>
					<%= render "snippet_destination_parliament"  %>
				</section><!-- destinationinfo -->
			</div><!-- destinationindex -->

			<section id="modal" class="modal fade" >
				<div class="modal-body">
					<img id="modalimage" src="" alt="Modal Photo" >
					<p> abcddfsafdasbjvadbljerwav ewa efwakl aerwaewl vaeraew!!! </p>
				</div><!--modal-body-->
			</section><!--modal fade-->

		</section><!-- topdestinations -->
		
		<script src="assets/myscrypt.js" type="text/javascript"></script>
		<script type='text/javascript'>
			handler = Gmaps.build('Google');
			handler.buildMap({ provider: {}, internal: {id: 'mapp'}}, function(){
			 markers = handler.addMarkers(<%=raw @hash.to_json %>);;
			  handler.bounds.extendWith(markers);
			  handler.fitMapToBounds();
			});
		</script>

		<% content_for :scripts do %>
			<script type="text/javascript" charset="utf-8">

				Gmaps4Rails.callback = function() {
			 		google.maps.event.addListener(Gmaps4Rails.map.serviceObject, "click", function() {
			    	alert("You clicked the map.");
			  	});
				};

			</script>
		<% end %>
		<%= yield :scripts  %>