
		<h2> Top Destinations</h2>

		<div style='width: 984px;'>
		  <div id="map" style='width: 984px; height: 400px;'></div>
		</div>
		
		<section class="topdestinations">
			<div id="destinationindex" class="row">
				<section class="scrollspy clearfix col col-lg-3 hidden-sm">
					<ul class="nav nav-list ">
						<li><a href="#Painted_Monastery">Painted Monastery</a></li>
						<li><a href="">Danube Delta</a></li>
						<li><a href="">Black Sea</a></li>
						<li><a href="">Bran Castle</a></li>
						<li><a href="">Peles Castle</a></li>
						<li><a href="">Palace of the Parliament</a></li>
					</ul><!-- nav-list -->
				</section><!-- scrollspy -->
				<section class="destinationinfo col col-lg-9">
					<%= render "snippet_destination_monastery"  %>
					<%= render "snippet_destination_delta"  %>
					<%= render "snippet_destination_sea"  %>
					<%= render "snippet_destination_parliament"  %>
					<%= render "snippet_destination_bran"  %>
					<%= render "snippet_destination_peles"  %>
					<%= render "snippet_destination_parliament"  %>
				</section><!-- destinationinfo -->
			</div><!-- destinationindex -->
		</section><!-- topdestinations -->


		<script type='text/javascript'>
			handler = Gmaps.build('Google');
			handler.buildMap({ provider: {}, internal: {id: 'map'}}, function(){
			 markers = handler.addMarkers(<%=raw @hash.to_json %>);;
			  handler.bounds.extendWith(markers);
			  handler.fitMapToBounds();
			});
		</script>

		<% content_for :scripts do %>
			<script type="text/javascript" charset="utf-8">

				Gmaps4Rails.callback = function() {
			 		google.maps.event.addListener(Gmaps4Rails.map.serviceObject, "click", function() {
			    	alert("You clicked the map.");
			  	});
				};

			</script>
		<% end %>
		<%= yield :scripts  %>