
		<div class = "container" id="destinations">
				<!-- <a>
					<img src="assets/Brasov_Square.jpg" alt="Brasov Square" style="max-width:100%">
				</a> -->
			<section class="content row">

				<div class="col-lg-12">
					<header class="clearfix">

							<section id="branding" class="brand">
							<a href="index.html"><img src="assets/romania-branding.png" alt="Logo for Romania" style="max-width:100%"></a>
						</section>
						<%= render "components/header" %>


					</header> <!--clearfix-->
				</div><!--column-->
			</section><!--content row-->

			<section class="container">
				<div class="content row">
					<nav class="col-lg-12 main_container">

					<h2>Destinations</h2>
							<p>Fortified churches and painted monasteries stand regally amid a pristine landscape. In the cities, former Saxon settlements such as Sibiu and Braşov ooze charm, while vibrant Bucharest is all energy.</p>



							<div class="content row my_content">
								<div class="col-lg-6 img_text left">
									<div class="fluid">

										<div class="top">
											<img src="">
										</div><!--top-->

										<img class="center_img" src="assets/Dochia_Cottage_tn.jpg" alt="Top Destinations" />
										<section class="inner">
											
											<%= link_to 'Top Destinations',  top_path, :remote => true, :class => "img_title"  %>
											
											<p>Although Romania is a relatively small country, it's land and countryside offers quite a few attractions never to be found somewhere else in the world. This is also the reason why UNESCO decided years ago to include them on it's List of World Cultural Heritage.</p>
										</section><!--inner-->
												<div class="clear foot">
													<img src="">
												</div>
										</div><!--fluid-->
								</div><!--col-lg-6 img_text-->

							<div class="col-lg-6 img_text">
								<div class="fluid">
											<div class="top">
												<img src="">
											</div>
											<img class="center_img" src="assets/University_Square_tn.jpg" alt="Cities & Towns" />
											<section class="inner">
												
												<%= link_to 'Cities & Towns',  cities_path, :remote => true, :class => "img_title"  %>
														<p>Some cities act as good starting points for exploring the Romania that few travelers get to see: out-of-the-way architectural treasures, pristine countryside, thick wilderness, or hidden castles.</p>
											</section>
											<div class="clear foot">
												<img src="">
											</div>
										</div>
							</div>
</div>
						<div class="content row my_content">
							<div class="col-lg-6 img_text left">
								<div class="fluid">
											<div class="top">
												<img src="">
											</div>
											<img class="center_img" src="assets/Bran_Castle_tn.jpg" alt="Castles & Fortresses" />
											<section class="inner">
										
												<%= link_to 'Castles & Fortresses',  castles_path, :remote => true, :class => "img_title"  %>
														<p>Romania's collection of castles and fortresses perhaps best illustrates the rich medieval heritage of the country. While castles built from the 14th to the 18th centuries are strong and austere fortresses built mainly for defense against invaders, those erected beginning in the late 1800s are imposing and luxurious.</p>
											</section>
											<div class="clear foot">
												<img src="">
											</div>
										</div>
							</div>

				

							</div><!--content row-->


					</nav><!--col-lg-12-->
				</div><!--row-->
			</section><!--container-->

			<%= render "components/footer" %>

		</div><!--container-->

